.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Loader animado para la pantalla de carga */
.loader {
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #4f46e5;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Estilos generales para el botón de "Volver al menú principal" */
button.absolute.top-6.left-6 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

button.absolute.top-6.left-6:hover {
  background-color: #4338ca; /* Cambia el color al pasar el ratón */
}

/* Transparencia de la tarjeta de preguntas */
.bg-opacity-80 {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Estilos para el feedback llamativo */
.text-green-600, .text-red-600 {
  font-size: 1.75rem;
  font-weight: bold;
}